@model Assistenza.BufDalsi.Web.Models.AgitatoreViewModels.DeleteAgitatoreViewModel


<div class="modal-header modal-header-custom">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="dati panel-heading">
    <form method="post" asp-controller="Agitatore" asp-action="DeleteAgitatore">
        <fieldset>
            <legend>Sicuro di voler eliminare questo agitatore ?</legend>


            <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
            <input type="hidden" value="@Model.clt_Id" asp-for="@Model.clt_Id" />
            <input type="hidden" value="@Model.ipt_Id" asp-for="@Model.ipt_Id" />
            <input class="btn btn-warning" type="submit" name="DeleteAgitatore" value="Elimina" /><a class="btn btn-primary pull-right" data-dismiss="modal"> Torna all'impianto</a><br />
        </fieldset>
    </form>
</div>
