@model Assistenza.BufDalsi.Web.Models.CogeneratoreViewModels.DeleteCogeneratoreViewModel


<div class="modal-header modal-header-custom">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="dati panel-heading">
    <form  method="post" asp-controller="Cogeneratore" asp-action="DeleteCogeneratore" >
        <fieldset>
            <legend>Sicuro di voler eliminare questo cogeneratore ?</legend>


            <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
            <input type="hidden" value="@Model.clt_Id" asp-for="@Model.clt_Id" />
            <input type="hidden" value="@Model.ipt_Id" asp-for="@Model.ipt_Id" />
            <input class="btn btn-warning" type="submit" name="DeleteCogeneratore" value="Elimina" /><a class="btn pull-right btn-primary" data-dismiss="modal"> Torna all'impianto</a><br />
        </fieldset>
    </form>
</div>