@model Assistenza.BufDalsi.Web.Models.ImpiantoViewModels.ImpiantoIndexViewModel
<div class="container-fluid">
    <img class="col-lg-offset-8 col-lg-4" src="~/Images/f-icon.jpg">
</div>
<div class="container">
    <div class="row">
        @foreach (var i in Model.imp)
        {
            <div class="grow container panel panel-warning text-box">
                <div>
                    <div class="dati">
                        <div class="dati sinistra">
                            <a method="get" class="clienti" href='@Url.Action("ImpiantoFullInfo", "Impianto",
                        new { ipt_Id = @i.ipt_Id, clt_Id = @i.ipt_Cliente})'>
                                <div>
                                    <p> <span class="glyphicon glyphicon-briefcase"></span>    <span class="text-bold">Ragione Sociale:</span> @i.ipt_RagioneSociale;</p>
                                    <p> <span class="glyphicon glyphicon-flash"></span>  <span class="text-bold">Potenza Nominale:</span> @i.ipt_PotenzaNominale</p>
                                    @foreach (var r in Model.regioni)//visualizzo la Regione
                                    {
                                        if (r.rgn_Id == i.ipt_Regione)
                                        {
                                            <p> <span class="glyphicon glyphicon-flag"></span>     <span class="text-bold">Regione:</span> @r.rgn_Nome</p>
                                        }
                                    }

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>