@model Assistenza.BufDalsi.Web.Models.ManutenzioneViewModels.ManutenzioneViewModel

<!--<div class="container-fluid">
    <img class="col-lg-offset-8 col-lg-4" src="~/Images/wrenchX600.png">                         mi distrugge il responsive
</div>-->

<div class="container">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="row">
        <div class="col-lg-12 text-box jumbotron" style="font-size:18px">
            <h2 class="section-title">Manutenzioni da eseguire</h2>
            <div class="add">
                <div class="pull-left">
                    <a asp-action="InsertManutenzione" asp-controller="Manutenzione" asp-route-id="" data-target="#modal-container" data-toggle="modal" class="btn btn-IES"><i>Aggiungi</i></a>
                    <a asp-action="ViewManutenzioniStorico" asp-controller="Manutenzione" class="btn btn-IES"><i>Storico Manutenzioni</i></a>
                </div>
                <div class="pull-right">
                    <input type="text" id="elemento" onkeyup="search()" class="form-control" placeholder="Cerca Ragione Sociale" />
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="manutenzioni">
        @foreach (var man in Model.DaEseguire)
        {
            <div class="container panel panel-default text-box">
                <div>
                    <div class="dati">
                        <div class="dati sinistra">
                            <div class="panel-heading" id="manutenzioni">
                                <p> <span class="glyphicon glyphicon-record"></span>  <span class="text-bold">Impianto:</span> @man.ipt_RagioneSociale</p>
                                <p> <span class="glyphicon glyphicon-hourglass"></span>  <span class="text-bold">Scadenza:</span> @String.Format("{0:dd/MM/yyyy}", man.mtz_Scadenza.Date)</p>
                                <p> <span class="glyphicon glyphicon-align-left"></span>  <span class="text-bold">Descrizione:</span> @man.mtz_Descrizione</p>
                                <p> <span class="glyphicon glyphicon-user"></span>  <span class="text-bold">Addetto:</span> @man.mtz_Addetto</p>
                            </div>
                        </div>
                        <span class="destra pull-right">
                            <a class="fab red" data-target="#modal-container-update" data-toggle="modal" method="get" asp-controller="Manutenzione" asp-action="UpdateManutenzione" asp-route-mtz_Id="@man.mtz_Id"><span class="glyphicon glyphicon-pencil"></span></a><br />
                            <a class="fab red" data-target="#modal-container-delete" data-toggle="modal" method="delete" asp-controller="Manutenzione" asp-action="DeleteManutenzione" asp-route-mtz_Id="@man.mtz_Id"><span class="glyphicon glyphicon-trash"></span></a><br />
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>







<div class="row">
    <div id="modal-container" class="modal fade hidden-print reload" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="modal-container-update" class="modal fade hidden-print reload" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="modal-container-delete" class="modal fade hidden-print reload" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#modal-container').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var url = button.attr("href");
                var modal = $(this);

                modal.find('.modal-content').load(url);
            });
            ;
        })

        function search() {

            var input, filter, ul, li, p, i;

            input = document.getElementById("elemento");
            filter = input.value.toUpperCase();
            ul = document.getElementById("manutenzioni");
            li = ul.getElementsByTagName("div");

            for (i = 0; i < li.length; i++) {

                p = li[i].getElementsByTagName("p")[0];

                if (p.innerHTML.toUpperCase().indexOf(filter) > -1) {

                    $(li[i]).fadeIn(1000);

                } else {

                    $(li[i]).fadeOut(1000);

                }
            }
        }
        $('.reload').on('hidden.bs.modal', function () {
            location.reload();

        });
    </script>
}

